<div class="row">
    <div id="one-block" class="col-12 ">
            
            <img id="logo" src="../assets/nicelogo.png" alt="">
            <div  id="eslogan">Empezar un ecommerce nunca habia sido tan fácil
            <button class="button-eslogan form-control mt-3">INICIAR</button>
            </div>
    </div>
    <div id="two-block" class="col-12 ">
        <div class="row">
            <div class="col-12 text-center mt-3 beneficios">Planes</div>
            <div class="col-12 col-md-4 p-4">
                <div class="card" >
                    <div style="text-align: center; font-size: 4rem;" ><fa-icon [icon]="faLeaf"></fa-icon></div>
                    <div class="card-body">
                    <h5 class="card-title text-center">Hoja</h5>
                    <p class="card-text">Promoción de tus servicios por un tiempo limitado</p>
                    <div class="text-center"><a href="#" class="btn btn-primary">Ver Beneficios</a></div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 p-4">
                <div class="card" >
                    <div style="text-align: center; font-size: 4rem;" class=""><fa-icon [icon]="faPagelines"></fa-icon></div>
                    <div class="card-body">
                    <h5 class="card-title text-center">Rama</h5>
                    <p class="card-text">Promoción de tus servicios de manera permanente</p>
                    <div class="text-center"><a href="#" class="btn btn-primary">Ver Beneficios</a></div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 p-4">
                <div class="card">
                    <div style="text-align: center; font-size: 4rem;" class=""><fa-icon [icon]="faTree"></fa-icon></div>
                    <div class="card-body">
                    <h5 class="card-title text-center">Arból</h5>
                    <p class="card-text">Promoción de tus servicios permanente con contenido extra</p>
                    <div class="text-center"><a href="#" class="btn btn-primary">Ver Beneficios</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="three-block p-4" class="col-12 mt-5">
    <!-- Request -->
<!-- Details 2 -->
<div class="basic-1">
<div class="container">
<div class="row">
<div class="col-lg-6">
<div class="text-container">
<b><h2>Comparte tu experiencia</h2></b>
<p>Califica y comenta tu experiencia con la calidad del o los servicios que recibiste.</p>
<a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox-1">MÁS INFORMACIÓN</a>
</div> <!-- end of text-container -->
</div> <!-- end of col -->
<div class="col-lg-6">
<div class="image-container">
<img class="img-fluid" src="../assets/details-1-office-worker.svg" alt="alternative">
</div> <!-- end of image-container -->
</div> <!-- end of col -->
</div> <!-- end of row -->
</div> <!-- end of container -->
</div> <!-- end of basic-1 -->
<!-- end of details 1 -->
    </div>
    <div class="col-12 mt-5 mb-4">
        
<!-- Footer -->

<!-- end of footer -->

    </div>
</div>