<div id="background" class="row">
    <div id="line-brown" class="col-12 text-center"><div class="text-login text-right">Iniciar Sesión</div></div>
    <div class="col-12 col-sm-6 d-none d-sm-block d-sm-none d-md-block text-center">
        <img class="logo-login" src="../../../../assets/nicelogo.png" alt="">
        <svg class="white-pic" xmlns="http://www.w3.org/2000/svg" width="568" height="245.724" viewBox="0 0 568 245.724">
            <path id="Trazado_3" data-name="Trazado 3" d="M0,3.367S121.043-104.8,326.3-28.446,568,179.4,568,179.4L557.929,190H0Z" transform="translate(0 55.724)" fill="rgba(249,249,249,0.91)"/>
        </svg>
        <img class="tree" src="../../../../assets/tree.png" alt="">
        <div class="left-leaf"> <fa-icon [icon]="faEnvira"></fa-icon></div>
        <div class="right-leaf"> <fa-icon [icon]="faEnvira"></fa-icon></div>
        <div class="globe"> <fa-icon [icon]="faGlobe"></fa-icon></div>
        <div class="shop"> <fa-icon [icon]="faShoppingCart"></fa-icon></div>
    </div>
    <div class="col-12 col-sm-6">
        <div class="form-login">
        <form [formGroup]='formularioLogin'>
            <div class="text-center welcome">Bienvenido</div><hr>
            <label class="data-form">Email</label><br>
            <input  required type="email" formControlName="correo" name="correo" class="form-control" placeholder="Ejemplo: juan@gmail.com">
            <span *ngIf="correo.invalid && (correo.dirty || correo.touched)" class="error">
                *Campo obligatorio
            </span>
            <br>
            <label class="data-form">Password</label><br>
            <input  type="password" formControlName="contrasenia"  class="form-control" placeholder="********">
            <span *ngIf="contrasenia.invalid && (contrasenia.touched)" class="error">
                *Campo obligatorio
            </span>
            <br>
            <div><a href="#">¿Olvidastes tu contraseña?</a></div>
            <br>
            <button [disabled]="!formularioLogin.valid" style="width: 100%;" (click)="iniciarSesion()" class="btn btn-success" type="button">Login</button>
            <br>
            <hr>
            <span style="font-size: 15px; color:gray">  <fa-icon [icon]="faQuestionCircle"></fa-icon> ¿Nuevo en EgroWeb?</span>
            <div class="text-left"> <br>
            <div (click)="existeUsuario()" class="btn btn-info"><span style="color:black" href="">Registrate</span></div>
              </div>
        </form>
    </div>
    </div>
</div>
