.img-logo{
    width: 260px;
}

#one-block{
    height: 100vh;
    background-image: url(../img/naturaleza2.jpg);
    background-size: cover;
}

@media (max-width: 576px) {
    #one-block{
        height: 100vh;
        background-image: url(../img/naturaleza2.jpg);
        background-size: cover;
        background-position-x:-180px ;
    };
  }
  @media (max-width: 576px) {
    #eslogan{
        padding-left: 0px !important;
        margin-top: 40px !important;
    }
    #logo{
        margin-top: 3rem;
        margin-left: 0.5rem !important;
    }
    #sidebarstyle{
        position: fixed !important;
        width: 18rem !important;
    }
  }

#eslogan{
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    font-size: 3rem;
    color: white;
    font-weight: bold;
    padding-left: 40rem;
}
.button-eslogan{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: #1D1919;
    color:white;
    font-weight: bold;
    border-radius: 20px;
}
.beneficios{
    color: green;
    font-size: 2rem;
    font-weight: 500
}
.card-title{
    font-weight: bold;
}
.btn-primary{
    background-color: #306F10 !important;
    border-color: #306F10 !important;
}
#sidebarCollapse{
    position: fixed;
    z-index: 1000;
}
#logo{
    width: 20rem;
    margin-left: 4rem;
}
#sidebarstyle{
    position: fixed;
    width: 18rem;
}
.white{
    color:white;
}


#sidebar {
    min-width: 300px;
    max-width: 300px;
    background: #1d1919;
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    #sidebar.active {
      margin-left: -300px; }
    #sidebar .logo {
      display: block;
      width: 120px;
      height: 120px;
      margin: 0 auto; }
      #sidebar .logo span {
        display: block; }
    #sidebar ul.components {
      padding: 0; }
    #sidebar ul li {
      font-size: 16px; }
      #sidebar ul li > ul {
        margin-left: 10px; }
        #sidebar ul li > ul li {
          font-size: 14px; }
      #sidebar ul li a {
        padding: 10px 0;
        display: block;
        color: rgba(255, 255, 255, 0.8);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
        #sidebar ul li a:hover {
          color: #f8b739; }
      #sidebar ul li.active > a {
        background: transparent;
        color: #f8b739; }
    @media (max-width: 991.98px) {
      #sidebar {
        margin-left: -300px; }
        #sidebar.active {
          margin-left: 0; } }
  
  a[data-toggle="collapse"] {
    position: relative; }
  
  .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  
  @media (max-width: 991.98px) {
    #sidebarCollapse span {
      display: none; } }
  
  #content {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  
  .btn.btn-primary {
    background: #f8b739;
    border-color: #f8b739; }
    .btn.btn-primary:hover, .btn.btn-primary:focus {
      background: #f8b739 !important;
      border-color: #f8b739 !important; }
  
  .footer p {
    color: rgba(255, 255, 255, 0.5); }
  


/*PALETA DE COLORES
#35331A
#306F10
#1D1919
#1D1919