<div class="footer">

    
    <div class="container">
        <hr>
        <div class="row" style="justify-content: center;">
            <div class="col-md-5">
                <div class="footer-col last">
                    <h4>Búscanos en nuestras redes sociales como <i>eGroWeb</i></h4>
                    <span class="fa-stack ml-5">
                        <a href="#your-link">
                            <fa-icon class="fa-stack-2x" [icon]="faFacebookF"></fa-icon>
                        </a>
                    </span>
                    <span class="fa-stack ml-5">
                        <a href="#your-link">
                 
                            <fa-icon class="fa-stack-2x " [icon]="faTwitter"></fa-icon>
                        </a>
                    </span>
                    <span class="fa-stack ml-5">
                        <a href="#your-link">
                    
                            <fa-icon class="fa-stack-2x " [icon]="faGooglePlusG"></fa-icon>
                        </a>
                    </span>
                    <span class="fa-stack ml-5">
                        <a href="#your-link">
                            <fa-icon class="fa-stack-2x" [icon]="faInstagram"></fa-icon>
                        </a>
                    </span>
                </div> 
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> 