<link rel="icon" type="image/x-icon" href="../../../../assets/Banco de datos//banco-imagen/22.jpg">
<app-navbar></app-navbar>
<div class="all">
    <div class="blacky">
<div class="container">
    <div class="row">
        <div class="col-12 col-md-9">
            <div class="row">
                <div class="pagina col-12 col-md-6">
                    <div class="burbuja">
                        <p>Pagina Numero Uno</p>
                        <hr>
                        <div class="img-fit">
                            <img src="../../../../assets/Banco de datos/banco-imagen/10.jpg" alt="">
                        </div>
                        <div>
                            <button type="button" class="btn btn-info btn-block">Entrar</button>
                        </div>
                        
                    </div>
                </div>
                <div class="pagina col-12 col-md-6">
                    <div class="burbuja">
                        <p>Pagina Numero Dos</p>
                        <hr>
                        <div class="img-fit">
                            <img src="../../../../assets/Banco de datos/banco-imagen/100.jpg" alt="">
                        </div>
                        <div>
                            <button type="button" class="btn btn-info btn-block">Entrar</button>
                        </div>
                        
                    </div>
                </div>
                <div class="pagina col-12 col-md-6">
                    <div class="burbuja bg">
                        <p>Pagina Numero Tres</p>
                        <hr>
                        <div class="img-fit">
                            <img src="../../../../assets/Banco de datos/banco-imagen/101.jpg" alt="">
                        </div>
                        <div>
                            <button disabled type="button" class="btn btn-info btn-block">Entrar</button>
                        </div>
                        
                    </div>
                </div>
                <div class="pagina col-12 col-md-6">
                    <div class="burbuja bg">
                        <p>Pagina Numero Cuatro</p>
                        <hr>
                        <div class="img-fit">
                            <img src="../../../../assets/Banco de datos/banco-imagen/101.jpg" alt="">
                        </div>
                        <div>
                            <button disabled type="button" class="btn btn-info btn-block">Entrar</button>
                        </div>
                        
                    </div>
                </div>
            </div>

         </div>
        <div class="col-12 col-md-3 pt-4">
            <div id="line"></div>
            <div class="vista ml-5 mb-5">
                <p>N° Visitas</p>
                <hr>
                <div class="number">
                   1
                </div>                
            </div>
            <div class="vista ml-5">
                <p>Plantillas</p>
                <hr>
                <div class="number">
                   <button class="btn btn-warning btn-block">Administrar</button>
                </div>                
            </div>
        </div>
</div>
</div>
</div>
</div>