<nav class="navbar navbar-right navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand ml-5" href="#">La Suiza</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mr-5">
        <li class="eslogan">
            <span class="nav-link" >"La vida es como tu quieras"</span>
          </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Ampliar Cuenta <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Banco de imagenes</a>
        </li>
      </ul>
    </div>
  </nav>