.img-logo{
    width: 260px;
}

#one-block{
    height: 100vh;
    background-image: url("../assets/naturaleza2.jpg");
    background-size: cover;
}

@media (max-width: 576px) {
    #one-block{
        height: 100vh;
        background-image: url("../assets/naturaleza2.jpg");
        background-size: cover;
        background-position-x:-180px ;
    };
  }
  @media (max-width: 576px) {
    #eslogan{
        padding-left: 0px !important;
        margin-top: 40px !important;
    }
    #logo{
        margin-top: 3rem;
        margin-left: 0.5rem !important;
    }
    #sidebarstyle{
        position: fixed !important;
        width: 18rem !important;
    }
  }

#eslogan{
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    font-size: 3rem;
    color: white;
    font-weight: bold;
    padding-left: 40rem;
}
.button-eslogan{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: #1D1919;
    color:white;
    font-weight: bold;
    border-radius: 20px;
}
.beneficios{
    color: green;
    font-size: 2rem;
    font-weight: 500
}
.card-title{
    font-weight: bold;
}
.btn-primary{
    background-color: #306F10 !important;
    border-color: #306F10 !important;
}
#sidebarCollapse{
    position: fixed;
    z-index: 1000;
}
#logo{
    width: 20rem;
    margin-left: 4rem;
}
#sidebarstyle{
    position: fixed;
    width: 18rem;
}
.white{
    color:white;
}
